.btn {
    margin: 15px;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: 0px 25px 30px 3px rgba(0, 0, 0, 0.3);
    background-color: white;
    overflow: hidden;
    font-weight: 800;
    text-transform: capitalize; 
}
.btn:hover,
.btn:focus {
    outline: none;
    background-color: transparent;
    border: 1px solid black;
    box-shadow:  0px 25px 30px 3px rgba(0, 0, 0, 0.3), 0 0 25px 0 rgba(0, 0, 0, 0.8) inset, 0 0 30px 4px rgba(0, 0, 0, 0.8);
}
