.list {
    text-transform: capitalize;
}
.item {
    font-weight: 800;
    margin: 10px;
}
.item:last-child {
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 300px;
    border: 1px solid black;
    border-radius: 50%;
}