.section {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 600px;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 30px solid black;
}